.games__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.games__pin_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 40px 100px;
  box-sizing: border-box;
  justify-content: center;
  box-shadow: 1px 1px 4px 2px $color-secondary;
  margin-left: 2em;
  max-width: 100%;
}

.games_pin {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  width: 350px;
  height: 100%;

  .games__title {
    padding: 5px 10px;
    margin: 10px 10px;
    font-size: 0.9em;
  }

  // &:hover {
  //   .games__title {
  //     color: #fafafa;
  //     z-index: 20;
  //     background: #31313155;
  //     border-radius: 20px;
  //   }
  // }

  .games__cover {
    width: 100%;
    z-index: 10;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;

    &:hover {
      opacity: 0.5;
    }
  }

  .games__title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 0;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }

  .games__name {
    &:hover {
      text-decoration: underline;
    }
  }
}
