.nav_main {
  background-color: $color-secondary;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 5em;
  max-width: 100%;
  position: relative;

  label {
    svg {
      font-size: 1.5em;
      margin-right: 15px;
    }
    input {
      font-size: 1.5em;
      border-radius: 30px;
      border: 1px solid #cccccc;
      padding: 15px 25px;
      width: 40vw;
      outline: none;
    }
  }
}
